.myInput {
   margin: 15px;
  padding:5px;
  border-radius:3px;
  font-family:Arial;
  font-size:13px;
  resize: none; 
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
  
.inline-div {
    display:inline-block;
}

